In [1]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [2]:
# csv to dataframe
df_buses_1=pd.read_csv("df_buses_1.csv")
df_buses_2=pd.read_csv("df_buses_2.csv")
df_buses_3=pd.read_csv("df_buses_3.csv")
df_buses_4=pd.read_csv("df_buses_4.csv")
df_buses_5=pd.read_csv("df_buses_R.csv")
df_buses_6=pd.read_csv("df_buses_SB.csv")
df_buses_7=pd.read_csv("df_buses_H.csv")
df_buses_8=pd.read_csv("df_buses_AS.csv")
df_buses_9=pd.read_csv("df_buses_9.csv")
df_buses_10=pd.read_csv("df_buses_10.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 1586,Super Deluxe Non AC Seater Air Bus (2+2),21:31,06:36,09h 05m,INR 640,3 Seats available,3.2\n30,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 2133,Swift Deluxe Non AC Air Bus (2+2),22:12,07:36,09h 24m,INR 640,4 Seats available,3.7\n8,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 1064,Super Fast Non AC Seater (2+3),23:45,09:50,10h 05m,INR 473,37 Seats available,4.1\n8,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,MMK Travels,VE A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,INR 700,1 Seat available,4.4\n465,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,Silver Line Travels,NON A/C Semi Sleeper (2+2),22:00,06:10,08h 10m,INR 599,10 Seats available,4.5\n293,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
14769,SBSTC-HABRA - DIGHA - VIA - NIBEDITA SETU - 05...,Non AC Seater (2+3),05:40,00:00,18h 20m,INR 159,5 Seats available,4.4,https://www.redbus.in/bus-tickets/habra-to-con...,Habra to Contai (Kanthi)
14770,SBSTC-BONGAON - DIGHA - VIA - BARASAT - 05:15 ...,Non AC Seater (2+3),06:30,00:00,17h 30m,INR 159,43 Seats available,4.4,https://www.redbus.in/bus-tickets/habra-to-con...,Habra to Contai (Kanthi)
14771,WBTC (CTC) Habra-Midnapur - 194|05:25,Non AC Seater (2+3),05:25,09:35,04h 10m,INR 138,49 Seats available,4.1,https://www.redbus.in/bus-tickets/habra-to-mid...,Habra to Midnapore
14772,WBTC (CTC) Habra-Midnapur - 194|05:55,Non AC Seater (2+3),05:55,10:15,04h 20m,INR 138,24 Seats available,4.1\n21,https://www.redbus.in/bus-tickets/habra-to-mid...,Habra to Midnapore
14773,SBSTC-HABRA - MIDNAPUR - 06:20 (MID DEPOT) - 1398,Non AC Seater (2+3),06:20,00:00,17h 40m,INR 143,43 Seats available,4.6\n17,https://www.redbus.in/bus-tickets/habra-to-mid...,Habra to Midnapore

# Data cleaning

In [3]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14774 entries, 0 to 14773
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         14774 non-null  object
 1   Bus_type         14774 non-null  object
 2   Start_time       14774 non-null  object
 3   End_time         14774 non-null  object
 4   Total_duration   14774 non-null  object
 5   Price            14774 non-null  object
 6   Seats_Available  14774 non-null  object
 7   Ratings          14774 non-null  object
 8   Route_link       14774 non-null  object
 9   Route_name       14763 non-null  object
dtypes: object(10)
memory usage: 1.1+ MB

In [4]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0        640.0
1        640.0
2        473.0
3        700.0
4        599.0
         ...
14769    159.0
14770    159.0
14771    138.0
14772    138.0
14773    143.0
Name: Price, Length: 14774, dtype: float64

In [ ]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

In [6]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14774 entries, 0 to 14773
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         14774 non-null  object
 1   Bus_type         14774 non-null  object
 2   Start_time       14774 non-null  object
 3   End_time         14774 non-null  object
 4   Total_duration   14774 non-null  object
 5   Price            14774 non-null  float64
 6   Seats_Available  14774 non-null  object
 7   Ratings          14774 non-null  float64
 8   Route_link       14774 non-null  object
 9   Route_name       14763 non-null  object
dtypes: float64(2), object(8)
memory usage: 1.1+ MB

In [7]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [10]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [11]:
# change dataframe to csv
path=r"C:/Users/Kavitha/Desktop/CAPSTONE PROJECT/redbus/Final_busdetails_df.csv"
Final_df.to_csv(path,index=False)

# Create a mysql database

In [12]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="root", password="kavi",database="RED_BUS_DETAILS")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [13]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [14]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully